.chartContainer {
    max-width: 1000px;
    margin-top: 3rem;
    width: 100%;
    box-shadow: #d2effd 14px 14px;
    background-image: 
        radial-gradient(#cdd0ff 1px, transparent 0),
        radial-gradient(#cdd0ff 1px,#fefefe 0);
    background-size: 40px 40px;
    background-position: 0 0,20px 20px;
    border-radius: 8px;
    border: 2px solid #111;
    margin: 1rem 0 3rem;
    padding-right: 3rem;
}
  
.chartTooltip {
    color: #2c7cdc;
    background-color: #fefefe;
    border: 2px solid #001e63;
    padding: 0 10px;
    border-radius: 8px;
    text-align: center;
    width: 10em;
}